---
#Only the main Sass file needs front matter(the dashes are enough)
---

@charset "utf-8";

@import "variables";

@import "about";
@import "hero";
@import "sections";
@import "contact";
@import "footer";
@import "skills";
@import "social";
@import "works";
@import "header";

html, body {
  height: 100%;
}

div {
  display: block;
}

.row:after,
.section:after {
  clear: both;
}

.row:before,
.row:after,
.section:after,
.section:before {
  content: "";
  display: table;
}

@media (min-width: 768px) {
  .section {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .section {
    width: 1170px;
  }
}