---
layout: default
---
<div class="hero_section">
  <div class="hero_title">
    <h2 class="hero_text">
      MEET ME, JOHN ARMSTRONG
    </h2>
    <h3 class="typed sub-header"></h3>
  </div>
</div>

<div class="row summary-section">
  <div class="section">
    <h2 class="title">ABOUT ME</h2>
    <p class="sub-header">A little about me</p>
    <p class="content">
      Hi my name is John and I want to be the best developer I can be! I am a computer science student with a keen
      desire to be an awesome software developer. I got into software development because I am interested in
      solving problems and delivering value to someone (even if it is just me!). My career objective is to work
      with the Web as I am very interested in cloud computing and love to use and create Web Services to work with
      my mobile apps. I love to travel and regularly go on weekend adventures. I am always planning my next trip
      and like to discuss travel with fellow travellers. I am also an avid listener of music with classic rock
      being my best genre. I am currently getting into jazz at the moment with ambitions of playing the saxophone.
      I am the kind of person who likes to find out how things work (whether it be a new programming language or a
      toaster) and always have a side project that involves discovering something new.
    </p>
  </div>
</div>

<div class="row skills-section">
  <div class="section">
    <h2 class="title">SKILLS</h2>
    <p class="sub-header">Some skills</p>

    <div class="skills">
      {% for skill in site.skills %}
      <div class="skill">
        <div class="skill-name">{{skill.title}}</div>
        <div class="skill-level" style="height: {{skill.weight | times: 2}}px"></div>
      </div>
      {% endfor %}
    </div>
    <div class="arrows"></div>

  </div>
</div>

<div class="row works-section">
  <div class="section">
    <h2 class="title">WORKS</h2>
    <p class="sub-header">Some of what I have done</p>

    <div class="content-grid mdl-grid">
      {% for project in site.works %}
      <div class="mdl-card mdl-shadow--2dp mdl-cell">
        <div class="card-image" style="background-image: url({{project.img}})">
          <div class="card-inner">
            <div class="mdl-card__title">
              <h3 class="mdl-card__title-text">{{project.title}}</h3>
            </div>
            <div class="mdl-card__supporting-text">
              <p>{{project.description}}</p>
            </div>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            More info
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

<div class="row contact-section">
  <div class="section">
    <h2 class="title">CONTACT</h2>
    <p class="sub-header">How to contact me</p>

  </div>
</div>