<div id="about" class="row summary-section">
  <div class="section">
    <h2 class="title">ABOUT ME</h2>
    <p class="sub-header">A little about me</p>
    <p class="content">
      Hi my name is John Armstrong and I am a passionate Full Stack Software Engineer.

      I got into Software development because I am interested in solving problems and delivering value to someone (even
      if it is sometimes just me!). I am interested in working across the the full stack and always have a side project
      going to discover something new. Make sure to check out some of my personal projects below.
    </p>
  </div>
</div>