<div id="contact" class="row contact-section">
  <div class="wrapper">
    <div class="section">
      <h2 class="title">CONTACT</h2>
      <p class="sub-header">How to contact me</p>

      <div class="mdl-grid">
        <div class="contact mdl-cell">
          <a href="tel:{{site.phone}}">
            <div class="content-wrapper">
              <i class="material-icons">call</i>
              <div>{{site.phone}}</div>
            </div>
          </a>
        </div>

        <div class="contact mdl-cell">
          <a href="mailto:{{site.email}}">
            <div class="content-wrapper">
              <i class="material-icons">email</i>
              <div>{{site.email}}</div>
            </div>
          </a>
        </div>

        <div class="contact mdl-cell">
          <a href="https://www.google.co.nz/maps/search/{{site.location}}">
            <div class="content-wrapper">
              <i class="material-icons icon">location_on</i>
              <div class="info">{{site.location}}</div>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>