<div id="social" class="row social">
  <div class="social-wrapper">
    <div class="section">
      <h2 class="title">FIND ME ON THE WEB</h2>
      <span class="title-border secondary"></span>
      <div class="icons mdl-grid">
        <a class="mdl-cell social-icon" href="{{site.github_link}}">
          <i class="fa fa-github fa-4x" aria-hidden="true"></i>
        </a>
        <a class="mdl-cell social-icon" href="{{site.linkedin_link}}">
          <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
        </a>
        <a class="mdl-cell social-icon" href="{{site.twitter_link}}">
          <i class="fa fa-twitter fa-4x icons" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
