.contact-section {
  .wrapper {
    background-color: $brand_blue;
  }

  .title, .sub-header {
    color: $font_white;
  }

  .contact {
    display: inline-block;
    color: $font_white;
    margin-bottom: 15px;

    .content-wrapper {
      text-align: center;
    }

    a {
      color: $font_white;
      text-decoration: none;
    }

    i {
      font-size: 48px;
      color: $icon_white;
    }
  }
}