body {
  background-image: url("/img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero_section {
  height: calc(85vh - 50px);
  width: 100%;
  display: table;
  background-color: rgba(0, 0, 0, 0.3);

  .sub-header {
    font-size: $large-font-size;
  }

  .hero_title {
    width: 100%;
    display: block;

    .hero_title_wrapper {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30vh;
      padding-bottom: 50px;

      @media (max-width: $phone-size) {
        margin-top: 15vh;
      }

      .hero_text {
        color: $font_white;
        font-weight: 300;
      }
    }
  }

  .avatar_section {
    display: block;
    position: absolute;
    width: 100%;
    top: calc(85vh - 250px);
    text-align: center;

    @media (max-width: $phone-size) {
      top: calc(85vh - 190px);
    }

    .avatar {
      display: block;
      margin: 0 auto;
      border: 10px solid white;
      border-radius: 250px;
      height: 400px;
      width: 400px;

      @media (max-width: $phone-size) {
        height: 280px;
        width: 280px;
      }
    }
  }
}