.section {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

.section {
  .title {
    font-weight: 300;
  }
}

.hero_section {
  background-color: rgba(0, 0, 0, 0.4);
}

.summary-section {
  background-color: white;
}

.skills-section {
  background-color: #2296F3;

  .title, .sub-header {
    color: white;
  }
}