
p, h1, h2, span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.mdl-layout__drawer-button > i {
  color: white;
}

.section {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

.section {
  .title {
    font-weight: 300;
    text-align: center;
    color: #2296F3;
  }

  .sub-header {
    text-align: center;
  }
}

.typed {
  color: white;
  font-weight: 300;
  min-height: 40px;
}