.section {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

.section {
  .title {
    font-weight: 300;
  }
}

.typed {
  color: white;
  font-weight: 300;
  min-height: 40px;
}

.hero_section {
  background-color: rgba(0, 0, 0, 0.4);
}

.summary-section {
  background-color: white;
}

.skills-section {
  background-color: #2296F3;

  .title, .sub-header {
    color: white;
  }
}

.works-section {
  background-color: white;

  .mdl-card__title, .mdl-card__supporting-text {
    color: white;
  }

  .card-inner {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 160px;
  }

  .card-image {
    background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
  }
}

.contact-section {
  background-color: #2296F3;

  .title, .sub-header {
    color: white;
  }
}