.social {
  background-image: url("/img/network.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    color: $font_white;
  }

  .social-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .social-icon {
    text-align: center;
    color: $icon_white;
  }

  .mdl-cell {
    @media (max-width: $tablet-size) {
      width: 33%;
      margin: 0;
    }
  }
}
