<!doctype html>
<head>
    <meta charset="utf-8">
    <title>JA</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
{% include header.html %}

<body>
<div class="content">
{{ content }}
</div>
</body>

{% include footer.html %}